/* app/styles/globals.scss */
:root {
  color-scheme: dark;
  --container: 1200px;
  --pad: 24px;
  --pad-sm: 16px;
  //--primary-color: #F4C061;

  --primary-color: #EBA33B;
  --primary-background: #0F1F33;
  --secondary-background: #202020;
  //--primary-color: #E8902C;
  //--primary-color: #D97B1E;
  //--primary-color: #F2A847;
  //--primary-color: #C97C16;

  //--primary-color: #74e5a1;

  //--primary-background: #1E2535;

  //--primary-background: #182336;
  //--primary-background: #1B2C40;
  //--primary-background: #13263B;
  //--primary-background: #142030;

  //background: black;
  //background: #202020;
  //background: #2B3247;
}

.safe-top   { padding-top: calc(16px + env(safe-area-inset-top)); }
.safe-bottom{ padding-bottom: calc(16px + env(safe-area-inset-bottom)); }

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a #0a0a0a;
}

[id] {
  scroll-margin-top: 64px;
}


html, body {
  height: 100%;
  color-scheme: dark;
}

body {
  margin: 0;
  color: #0b1020;
  background: var(--secondary-background);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 10px;
  border: 3px solid #0a0a0a;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a;
}

/* utility */
.container {
  margin: 0 auto;
  padding-left: var(--pad);
  padding-right: var(--pad);
  max-width: var(--container);
}

.section {
  background: var(--primary-background);
  color: #fff;
  padding: 72px 0 96px;
}

.accent {
  color: var(--primary-color);
}

.accent-500 {
  color: var(--primary-color);
  font-weight: 500;
}

@media (max-width: 760px) {
  :root { --pad: var(--pad-sm); }
}

button, a { touch-action: manipulation; }

/* simple fade-in helper */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeInUp 900ms ease forwards;
}
